<?xml version="1.0" encoding="utf-8"?>
<settings>
	<setting label="1001" type="bool" id="getallgenre" default="true"/>
	<setting label="1002" type="bool" id="fullcredits" default="false"/>
	<setting label="1003" type="bool" id="fanart" default="true"/>
	<setting label="1004" type="bool" id="tmdbthumbs" default="true"/>
	<setting label="1005" type="bool" id="movieposterdb" default="true"/>
	<setting label="1006" type="labelenum" values="192|256|384|512|1024" id="imdbscale" default="512"/>
	<setting label="1007" type="bool" id="getofdbplot" default="true"/>
</settings>
